{
  "extends": "stripe",
  "globals": {
    "window": true,
    "chrome": true
  },
  "rules": {
    "indent": [
      2
    ],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "ignore",
        "named": "ignore",
        "asyncArrow": "ignore"
      }
    ],
    "comma-dangle": [
      "off"
    ]
  },
  "parserOptions": {
    "ecmaVersion": 2017
  }
}
